<form novalidate class="simple-form">
    Name: <input type="text" ng-model="amenity.name" /><br />
    Type: <input type="text" ng-model="amenity.type" /><br />
    Desc: <input type="text" ng-model="amenity.description" /><br />
    Hours: <input type="text" ng-model="amenity.hours" /><br />
    <!--TODO: list-->
    Specialities: <input type="text" ng-model="amenity.specialities" /><br />
    Location: <input type="text" ng-model="amenity.location" /><!--<button ng-click="lookupGeo(amenity, marker)">Lookup Coords</button--><br />
    Coords: <input type="text" ng-model="amenity.geoLocation" /><button ng-click="lookupLocation(amenity, marker)">Lookup Location</button><br />
    <span class="error" ng-show="error">Error: {{error}}</span><br>
    <button ng-show="amenity.id" ng-click="update(amenity, marker)">Edit</button>
    <button ng-show="!amenity.id" ng-click="save(amenity, marker)">Save</button>
    <button ng-click="cancel(amenity, marker, markers)">Cancel</button>
</form>