*{margin: 0px;padding: 0px;}
body{height: 100%; width: 100%; line-height: 1; background-color: #333; color: #FFF;}
body, h1,h2,h3,h4,h5,h6{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a{
  margin: 0;
  padding: 0;
  color: black;
}
a, a:link, a:hover, a:visited, a:active{
  text-decoration: none;
}
a:hover, .nav a:hover{
  color: blue;
}

/*------============HEADER-STYLING AREA=========---------*/
#custom-nav{
  height: 160px;
  background-color: #FFF;
  margin-top: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
} 

.navbar{background-color: #FFFFFF;}
.navheader-logo{display: inline-block;}
.navimg-logo{ 
   display: block;
    margin: 0 auto;
}

/*RESPONSIVE NAVIGATION WITH MEDIA QUERIES*/
@media screen and (max-width: 253px){
  #custom-nav{height: 55px;}
}

/*-----=TOP NAV BAR SCOIAL ICONS=---------*/
.nav-login li, .social-icon li{
  display: inline;
  list-style-type: none;
}
.circle{
  border-radius: 50%;
}
.fa-facebook{
background: black;
color: #FFFFFF;
padding: .3em 0.3em;
}
.fa-twitter{
background: black;
color: #FFFFFF;
padding: 0.3em 0.2em;
}
/*#4099FF #3B5998 #019AD5(gov)*/
.fa-wordpress{
  background-color: black;
  color: #FFFFFF;
  padding: 0.3em 0.2em;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-wordpress:hover{
  background-color: blue;
}

.main-nav{
  margin-top: 25px;
}
/*-------====END OF HEADER STUFFF====------*/


/*The start of the middle section
in between the header and footer */
#main-content{
  height:100%;
  width:100%;
}
/*------==END OF THE MAIN CONTENT==-----*/

/*------===LANDING PAGE===-----*/
/*---CAROUSEL-STYLING AREA---*/
#home-carousel{
  margin-top: 25px;
  width: 100%;height: 100%;
}
.img-container{
  background-color: #FFF;
  height: 100%;width:100%;

}
.img-custom{
    display: block;
    margin: 0 auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.custom-caption{
  right: 5%;left: 5%;
  background-color: black;
  color: white;
  font-weight: bold;font-style: italic;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
   opacity: 0.5;
}
/*----------=EVENTS PAGES=----------*/
.mybar{
  background-color: black;
}

.map-container{
  width: 100%;
  height: inherit;
  min-width: 200px;
  margin-top: 0px;
  padding: 0;
  position: relative;
}
.map-ui{
  position: absolute;
  width: inherit;
  height: 60px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
  z-index: 20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
   opacity: 0.3;
   bottom: 0px;
   padding-top: 3px;
   font-size: 45px;
   text-align: center;
}
.map-ui-toggle{
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 60px;
  right: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
  z-index: 20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
   opacity: 0.3;
   font-size: 45px;
   text-align: center;
}
.map-filter{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 75px;
  font-weight: bold;
  font-style: italic;
  z-index: 20;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        filter: alpha(opacity=70);
   opacity: 0.7;
   
   font-size: 25px;
   padding-top: 15px;
}
/*---======SHAPES=====----*/
.circle{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50px;
}

.fa-all{
  color: #FFFFFF;
  padding: .4em 0.5em .4em .6em;
  margin: 0;
  font-size: 1.3em;
}
.fa-plus{
  background-color: grey;
}
.fa-info{
  background-color: Crimson;
}
.fa-building{
  background-color: blue;
}
.fa-university{
  background-color: black;
}
.fa-glass{
  background-color: CadetBlue;
}
.fa-cutlery{
  background-color: lightblue;
}
.fa-restroom{
  background-color: pink;
}
.fa-headphones{
  background-color: green;
}
/*----------Events--and--MAPS---------------*/
.angular-google-map-container { height: 400px; }
/* i dont know what .gm does*/
/*.gm-style-iw {top: 0 !important;}*/
.map-canvas { height: 500px; }
.event-map{ height: 100%;  margin: 0;padding-bottom: 60px;}
#map{
    height: 100px;
    width: 100%;
}
/*-------END---OF----MAPS---------------*/
.map-ui a, .map-ui-toggle a{
  color: white;
}
.map-ui a:hover, .map-ui-toggle a:hover{
  color: red;
}
#eventmap{
    height: 100vh;
    width: 100%;

}
/*----------=Calendar PAGES=----------*/
#calendar{
  background-color: grey;
}

