*{margin: 0px;padding: 0px;}
html{
  position: relative;
  min-height: 100%;
}
@font-face {
    font-family: 'guppy';
    src: url('../fonts/GuppySans.otf');
}
@font-face {
    font-family: 'govsle';
    src: url('../fonts/DINEngschriftStd.otf');
}

@font-face {
    font-family: 'avenyt';
    src: url('../fonts/AvenyT.otf');
}
body{
  height: 100%; width: 100%;
  background-color: #E7E7E7;
  color: black;
  min-width: 300px;
  font-family: Arial, verdana, helvetica;
  font-size: 16px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
/*GENERAL STYLING AREA*/
.clear{clear: both;}
.header-shadow{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}
.lead{padding-right: 25px; padding-left: 25px;}
/*SPECIAL CASES*/
.navSpacingFix{margin-top: 85px;}
.gov-size{font-size: 26px;font-family: 'govsle';}
#headerspacing{margin-top: 60px;}

/*SITE COLORS*/
.information{background-color: #ff9900;}
.food-drink{background-color: #ff66cc;}
.activitie{background-color: #33cc66;}
.venue{background-color: #000066}
.facilitie{background-color: #0099ff;}
.hist{background-color: #ccff33;}
.title{font-size: bold;}
.softtop-padding{padding-top: 20px;}
.hrstyle{
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
/* ALL LINKS*/
a, a:link, a:hover, a:visited, a:active{
  text-decoration: none;
  color: #FFF;
}

#curatedlist a ,#artistlist a , #tourPoints a, .eventlist a, #light a,#fade a{
  color: #000;
}

/*------============HEADER-STYLING AREA=========---------*/
#nav-beta{
  height: 60px;
  /*background-color: #129068;*/
  border-collapse: separate;
  z-index: 9999;
  min-width: 300px;
  /*border-bottom: 1px solid #E7E7E7;*/
  background: -moz-linear-gradient(top,  #129068 0%, #3b9d71 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#129068), color-stop(100%,#3b9d71));
  background: -webkit-linear-gradient(top,  #129068 0%,#3b9d71 100%);
  background: -o-linear-gradient(top,  #129068 0%,#3b9d71 100%);
  background: -ms-linear-gradient(top,  #129068 0%,#3b9d71 100%);
  background: linear-gradient(to bottom,  #129068 0%,#3b9d71 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#129068', endColorstr='#3b9d71',GradientType=0 );
}
.nav-ui{
  width: 100%;height: 100%;
  line-height: 60px;
  padding-top: 4px;
  color: white;
  z-index: 900;
  font-size: 30px;
  text-align: center;
}
.nav-gov-brand{
  color: white;
  font-size: 34px;
  text-align: left;
  font-family: 'guppy';
}
.nav-inlineblock li{
  display: inline-block;
  list-style-type: none;
}
.nav-login li{
  display: inline-block;
  list-style-type: none;
}
.navright-btn{padding-right: 10px;}
.navleft-btn{padding-left: 10px;}
/*MAIN-FOOTER NAVIGATION*/
.map-ui{
  height: 70px; width: 100%;
  line-height: 70px;
  padding-top: 10px;
  background-color: #4F535E;
  color: white;
  font-size:45px;
  text-align: center;
}
.map-ui-toggle{
  position: absolute;
  width: 45px;height: 50px;
  bottom: 60px;right: 0px;
  background-color: #4F535E;
  color: white;
  font-size: 35px;
  padding: 0;
}
.map-ui-filter{
  background-color: #4F535E;
  text-align: left;
  width: 75%;
}
.map-ui-filter li{
  display: block;
}

.dropdown-menu.map-ui-filter a:hover,
.dropdown-menu.map-ui-filter a:focus{
    background-color: #008B8B !important;
}
.dropdown-menu.map-ui-filter a.selected{
    background-color: #454953;
}

.map-ui-btn{
  position: relative;
  font-size: 18px;
  color: #FFF;
  bottom:17px;
  right:-10px;
}

.map-ui-btn-glyp{
    right: -25px;
}

.map-ui-btn-all{
    color: #fff;
    font-size: 45px;
}
.nav-map{ padding-left: 6%; padding-right: 5%;}
.nav-end{padding-left: 6%;}

.alert{margin-bottom: 0px;}
.global-alerts{margin:0px;}
.white-overlay{
  display: none;
  position: fixed;
  top: 0;left: 0;
  width: 100%;height: 100%;
  background-color: #FFF;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white-content{
  display: none;
  position: fixed;
  top: 15%;left: 10%;
  width: 80%;height: 60%;
  background-color: black;
  z-index:1002;
  color: #FFF;
  overflow: auto;
}
.alertbox-header{
  width: 100%; height: 50px;
  line-height: 50px;
  background-color: #FB5751;
  text-align: center;
}
.alert-indicator{
  border-radius: 50%;
  width: 15px;height: 15px; 
  color: red;
  background-color: red;
  float: right;
  padding-right: 0;
}
.list-notification li{padding: 5px; margin: 0; border-bottom: 1px solid #FFF;}
.dropdownwrap{
    display:none;
    height:auto;
    float:center;
    margin:0px 0px 0px 0px;
    background-color:#434343;
    padding:10px;
}
.alertbtn{padding-top: 10px;padding-left: 5%;}
.alertclosingbtn{padding-top: 5px;padding-right: 4%;}
.alert-title{font-family: 'guppy'; font-size: 24px; padding-top: 2px;}
.fixme{background-color: green;}
#weather-panel{
  color:  #129068;
  margin-top: 0px;
  text-align: center;
 /*background-color: red;*/
  margin: 0;
}
.leftside{
  float: left;
  font-size: 50px;
  padding-left: 10%;
  background-color: inherit;
  margin: inherit;
}
.rightside{
  float: right;
  padding: 18px 10% 18px 0;
  font-size: 16px;
  background-color: inherit;
  margin: inherit;
}
.rightside p{
  font-family: 'guppy';
  font-size: 21px;
  padding: 3px;
  margin: 0;
}
.notification-counter {   
    position: absolute;
    top: -4px;left: 21px;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}

/*RESPONSIVE NAVIGATION WITH MEDIA QUERIES*/
@media screen and (max-width: 991px){
  .col-xs-12{width: 100%;
  padding:0;margin: 0;}
  .container{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 308px){
  /*stop header breakage*/
  .nav-gov-brand{
    font-size: 30px;
  }
}
@media (max-width: 320px){
  /*iphone optimization */
}
/*the max page size should remain 1004px*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1004px;
  }
}


/*THE MAIN CONTENT AKA THE MIDDLE SECTION*/
.main-content{margin: 0px;}
/*THE MAIN FOOTER AKA THE FOOTER*/
.main-footer{
  margin-bottom: 30px; /*lower navigation bar*/
}


/*---==LANDING-CAROUSEL PAGE==---*/
#mainCaro{
  max-width: 700px;
  margin: 15px auto 0px auto;
 /* background-color: pink;*/
}
#secCaro,#weather-panel, #eventCaro {
    max-width: 700px;
    margin: 0px auto 0px auto;
  /*background-color: blue;*/

}
#mainCaro .carousel-indicators{
  position: absolute;
  top: 10px;left: 110%;
  z-index: 200;
  height: 25px;width: 50px;
  /*background-color: blue;*/
} 
#mainCaro .carousel-inner,#mainCaro .item{
 max-height: 300px;
}
#mainCaro .swapePanel, #allEvents .swapePanel{
  position: absolute;
  z-index: 0;
  top: 0;bottom: 0;
  width: 100%;
  /*background-color: black;*/
}
#mainCaro .carousel-caption{
  position: absolute;
  left: 15px;top: 10px;
  width: 75%;height: 50px;
  font-family: 'govsle';
  font-size: 20px;
  text-align: left;
  padding: 0px 0px 0px 0px;
  z-index: 200px;
  color: white;
  /*background-color: red;*/
  /*opacity: 0.5;*/
}
#mainCaro .carouselMore{
  position: absolute;
  z-index: 200;
  text-align: center;
  right: 0; bottom: 10px;
  width: 100px;height: 25px;
  font-family: 'govsle';
  font-size: 20px;
  background-color: white;
  color: black;
  opacity: 0.7;
}
#mainCaro .img-responsive{
   margin: 0 auto;
   width: 100%;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}

/*DETAIL VIEW*/
.img-detail{ width: 100%;}
.carousel-control{ height: inherit;}
.carousel-control.left, .carousel-control.right{
    /*background-image: none;*/
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.addthisevent{
  color: black !important;
  background-color: blue;
}
.btn-custom{ background-color: #5FA77A; }
/*----------====SECOND CAROUSEL====-------*/
#myCarousel{margin-top: 15px;}
#myCarousel .carousel-inner .active.left { left: 0px;}
#myCarousel .carousel-inner .next        { left: 0px;}
#myCarousel .carousel-inner .prev        { left: 0px;}

#myCarousel .item{
  white-space: nowrap;
  overflow: hidden;
}
#myCarousel .carousel-control{
  height: 25px;
  width: 25px;
  padding-top: 100px;
}
.img-collection{
  box-shadow: 0 0 0px #aaa;
}
.img-container-sm{
  width: 175px;height: 175px;
  display: inline-block;
  border: none;
  float: center;
  padding: 0px 0px 0px 0px;
  margin-left: 5px;
  margin-right:5px;
}
.img-custom-sm{
  vertical-align: middle;
}
.img-cover{
  position: absolute;
  top: 0;
  height: 77px;
  width: 150px;
  opacity: .7;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 25px;
}
.img-collection section{
  display: inline-block;
}
.img-cover p{
  color: #FFF;
  font-size: 36px;
  vertical-align: middle;
  text-align: center;
  padding-top: 25px;
}
/*LANING PAGE*/
#landing .eventlist{
  height: 185px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
  margin-top: 0px;
}
#landing .eventlist li{
  max-width:230px;
  padding: 10px;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
  /*box-shadow: 1px 1px 10px #999;*/
}
.card{
  position: absolute;
  left: 0;bottom: 10px;
  width: 100px;height: 25px;
  font-family: 'govsle';
  font-size: 20px;
  background-color: #FFF;
  color: black;
  opacity: 0.7;
  text-align: center;
}
/*---------=EVENTGRID View=--------------*/
#allEvents{background-color: #FFF;}
#allEvents #eventCaro{overflow:hidden;}
/*#eventCaro .item{height: 250px;} good with all image the same size*/
#eventCaro .carousel-indicators {
  position: absolute;
  bottom: 5px;
  left: 110%;
  height: 25px;
  width: 50px;
  /*background-color: blue;*/
}
#eventCaro .carousel-caption {
  position: absolute;
  bottom: 0px;left:0px;
  height: 50px;
  width: 100%;
  text-align: left;
  line-height: 50px;
  padding: 0px 0px 0px 10px;
  margin: 0px 0px 0px 0px;
  color: white;
  font-family: 'govsle';
  font-size: 20px;
  filter:alpha(opacity=80);opacity: .8;
  background-color: #000;
}
.eventlist{
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}
#allEvents .eventlist{
  height: 240px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space:nowrap;
  border-bottom: solid 2px gray;
}
#allEvents .eventlist li{
  max-width:230px;
  padding: 10px;
  display:inline-block;
  *display:inline;/* For IE7*/
  *zoom:1;/* For IE7*/
  vertical-align:top;
  /*box-shadow: 1px 1px 10px #999;*/
}
#allEvents .eventlist .caption {
  max-width: 230px;
  height: 50px;
  white-space:normal;
}
#allEvents .eventlist .caption h5 {
  font-size:16px;
  margin:10px 0px 0px 0px;
  font-weight: bold;
}
#allEvents .eventlist h5.sp1 {
  margin-top: 5px;
  font-weight: normal;
}
/*----------=END EventLIST VIEW=-------------*/
.listCol{
  margin-top: 2px;
  border-bottom: 1px solid #999999;
  padding-top: 10px;
}
.leftpanel{
  float: left;
}
.rightpanel{
  float: right;
  width: 50%;height: 150px;
  overflow: hidden;
}
.rightpanel h5, .rightpanel p{
  font-size: 12px;

}
#listEvents .img-detail{
  height: 150px; width: 150px;
}
/*----------=END EVENTLIST VIEW=-------------*/


/*----------===MAPS===---------------*/
#eventmap{
  position: absolute; 
  height: 90%; width: 100%; 
  /*background-color: #2F516B;*/
}
.map-form{
    background: white;
    border: 1px solid;
    max-width: 400px;
    position: absolute;
    z-index: 100;
    opacity: 0.90;
    top:62px;
}

.map-form a, .map-form a:link, .map-form a:hover, .map-form a:visited,.map-form a:active{
    color: #000;
}
/* -------====FERRY SCHEDULE==--------- */
.info-banner{
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  font-family: ''avenyt'';
}
.info-banner h3, .info-banner h4{
  padding: inherit;margin: inherit;
  line-height: inherit;
}

.info-banner-space{
  margin-bottom: 10px;
}
.info-banner-left{
  text-align: left;
  padding-left: 20px;
  padding-top: 0px;
  margin: 13px 0px 5px 0px;
}
.btn-brooklyn, .btn-manhattan{
  display: inline-block;
  text-align: center;
  vertical-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #454953;
  padding-top: 3px;
}
.btn-brooklyn{
  width: 50%;
  float: right;
}
.btn-manhattan{
  width: 50%;
  float: left;
}
.btn-brooklyn a, .btn-manhattan a{
  color: #FFF;
}
.btn-bk-mh{ margin-top: 28px;}
p.lead a{color: blue;}
ul.lead{list-style-type: none;}

/*detail view image*/
.info-img{
  height: 250%;
  width: 100%;
}
/*ICONS*/
.navimg-icon{
  height: 55px;
  width: 55px;
  padding-bottom: 15px;
}
/* -------====FERRY SCHEDULE END==--------- */

.adminPanel{
  position: relative;
  bottom: -500px;left: 0px;
  width: 200px;
  color: #000;
z-index: 10000;
}

.newMarkerPanel{
  position: relative;
  bottom: -500px;right: -325px;
  color: #000;
  /*background-color: black;*/
}

/*----------=ALL TOURS VIEW=-------------*/
#allTours {
	background: #ffffff;
}

#allTours #featuredLabel, #curatedLabel, #artistLabel{

	padding: 10px;
	margin:0px;
	padding-bottom: 0px;
}

#allTours #main-carousel{

	height: 250px;
	overflow:hidden;

}

#allTours #main-carousel .carousel-wrapper {

}

#allTours #main-carousel .carousel{
	padding:10px;
}

#allTours #main-carousel .carousel-inner, #allTours .item, .carousel-wrapper, #caroContainer{

	height: 250px;

}

#allTours #main-carousel .carousel-indicators {

	float:right;
	width:37px;
	right:10px;
	margin-left:auto;
	bottom: 4px;
}

#allTours #main-carousel .carousel-caption {

	text-align:left;
	float:left;
	padding-left:15px;
	margin-bottom:5px;
	margin-right:200;
	display:inline;
	left:0;right:0;
	width:290px;
	height:50px;

}

#allTours #main-carousel .carousel-caption h3 {

	font-size:21px !important;

}

#allTours #bottomBar {

	padding: 10px;
	background-color:black; filter:alpha(opacity=80); opacity:.8;
	height: 50px;
	position:relative;
	top:-50px;

}


.tourlist {

	height: 220px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space:nowrap;
	border-bottom: solid 2px gray;

}

.tourlist li{

	max-width:180px;
	box-shadow: 1px 1px 10px #999;
	background: #ffffff;
	padding: 10px;

	display:inline-block;
	*display:inline;/* For IE7*/
	*zoom:1;/* For IE7*/
	vertical-align:top;
}

.tourlist .caption {

	width: 150px;
	height: 60px;
	white-space:normal;
}

.tourlist .caption h5 {

	font-size:18px;
	padding-top:0px;
	margin-top:10px;

}

#tourImage {

	width:100%;
	height:50%;

}

/*----------=SINGLE TOUR VIEW=-------------*/

#tourPoints #tourInfo h3 {

	padding-left:10px;
	margin-top:10px;
	font-size:24px;

}

#tourPoints #tourInfo p {

	padding-left:10px;
	margin-top:10px;
	font-size:18px;

}

#tourPoints #pointlist {

	height: 100%;

}

#tourPoints #pointlist li{

	padding: 5px;
	padding-left: 15px;
	border-top:solid 2px gray;
	height: 50px;
  line-height: 50px;

}

#tourPoints #pointlist .caption{

	position:relative;
	top:-5px;

}

#tourPoints #pointlist li h5{

	font-size: 20px;
	display:inline;
	width:100%;
}

#tourPoints #pointlist img {

	float:right;
	display:inline;
	position:relative;
	top:5px;
}

#point {

	text-align:center;
	width: 100%;
	height: 100px;
	margin-top:25px;

}

#point #pointInfo {

	text-align:left;
	padding-left: 25px;
	padding-right: 25px;
	overflow-y:auto;
	height:80vh;
	line-height:130%

}

#point #pointInfo h3{

	padding-bottom: 10px;
	border-bottom: solid 2px gray;
	

}

#point #pointImg {

	height: 200px;
	overflow:hidden;
	margin:0;
}

#point #pointImg img{

	width:100%;
}

#point .audioPlayer button{

	background: transparent;
	border: none;
	position:relative;
	top:-170px

}

#point .audioPlayer {

	height:0;

}

#mainTourImg{

	height: 200px;
	overflow:hidden;

}

#mainTourImg .carousel{
	padding:10px;
}

#tourpoints {


}

#tourImage {

	height: 225px;
	overflow:hidden;

}

#tourImage img{

	width: 100%;

}

#myInfoWindow {
	
	height:75px;
	width:150px;
	color:black;
	
}

#myInfoWindow h3 {
	
	font-size:12px;
	z-index:2;
	position:relative;
	top:-70px;
	left:75px;
	width: 96px;
	
	color:black;
}

#myInfoWindow span {
	
	font-size:10px;
	
}

#myInfoWindow img {
	
	position:relative;
	z-index:0;
	clear:all;
	top:0;
}

/*-----------END OF TOUR--------------*/
.activebtn{background-color: #5FA77A; color: #FFF;}
.textLeft{text-align: left;padding-left: 20px;}
.textCenter{text-align: center;}
/*.dangere{background-color: #FF0101;}
.coole{background-color: #4099FF;}*/
.activeinfo{color:  #104432;}
.activehome{ visibility: hidden;}

li.wordpress, li.twiiter, li.instagram{
 margin-left: 15px;
}
li.wordpress{
  margin-right: 15px;
}
/*SPRITES*/
.resizeweather, .ferry0, .ferry1, .headphones0, .headphones1, .calendar0,
.calendar1, .activities, .facilities, .food, .history,
.info, .venues, .facebook, .instagram, .twitter,.alertclose, .alertopen,
.wordpress, .mappin0, .mappin1
{ display: inline-block; background: url('../images/siteicons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
.ferry0 { background-position: -3px -0px; width: 65px; height: 45px; }
.ferry1 { background-position: -3px -48px; width: 65px; height: 45px; }
.headphones0 { background-position: -3px -96px; width: 54px; height: 45px; }
.headphones1 { background-position: -3px -144px; width: 54px; height: 45px; }
.calendar0 { background-position: -3px -192px; width: 49px; height: 45px; }
.calendar1 { background-position: -3px -240px; width: 49px; height: 45px; }
.activities { background-position: -3px -288px; width: 45px; height: 45px; }
.facilities { background-position: -3px -336px; width: 45px; height: 45px; }
.food { background-position: -3px -384px; width: 45px; height: 45px; }
.history { background-position: -3px -432px; width: 45px; height: 45px; }
.info { background-position: -3px -480px; width: 45px; height: 45px; }
.venues { background-position: -3px -528px; width: 45px; height: 45px; }
.weather { background-position: -3px -576px; width: 41px; height: 30px; }
.facebook { background-position: -3px -609px; width: 32px; height: 32px; }
.instagram { background-position: -3px -644px; width: 32px; height: 32px; }
.twitter { background-position: -3px -679px; width: 32px; height: 32px; }
.wordpress { background-position: -3px -714px; width: 32px; height: 32px; }
.alertclose { background-position: -3px -749px; width: 30px; height: 30px; }
.alertopen { background-position: -3px -782px; width: 30px; height: 30px; }
.mappin0 { background-position: -36px -749px; width: 28px; height: 45px; }
.mappin1 { background-position: -36px -797px; width: 28px; height: 45px; }

