*{margin: 0px;padding: 0px;}
html{
  position: relative;
  min-height: 100%;
}
@font-face {
    font-family: myFirstFont;
    src: url(../font/DINEngschriftStd.otf);
}
body{
  height: 100%; width: 100%; 
  line-height: 1; 
  background-color: #E7E7E7; 
  color: black;
  min-width: 250px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
a{
  margin: 0;
  padding: 0;
  color: black;
}
a, a:link, a:hover, a:visited, a:active{
  text-decoration: none;
}
a:hover, .nav a:hover{
  color: blue;
}
.clear{clear: both;}
.shadow-effect{
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-collapse: separate;
  z-index: 999;
}
/*The site main colors*/
.information{background-color: #ff9900;}
.food-drink{background-color: #ff66cc;}
.activities{background-color: #33cc66;}
.venues{background-color: #000066}
.facilities{background-color: #0099ff;}
.history{background-color: #ccff33;}
/*------============HEADER-STYLING AREA=========---------*/
#custom-nav{
  height: 160px;
  background-color: #FFF;
  margin-top: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#nav-beta{
  height: 100px;
  padding: 0px 0px 0px 0px;
  background-color: #5FA77A;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-collapse: separate;
  z-index: 999;
  border-bottom: 1px solid #000;
}
#nav-beta p{
  color: white;
  font-size: 36px;
  vertical-align: middle;
  text-align: center;
  padding-top: 38px;
  font-family: myFirstFont;
}
.navbar{background-color: #FFFFFF;}
.navheader-logo{display: inline-block;}
.navimg-logo{ 
   display: block;
    margin: 0 auto;
}

.map-ui{
  position: relative;
  width: inherit;
  height: 60px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
  z-index: 900;
  opacity: 0.3;
  bottom: 0px;
  padding-top: 3px;
  font-size: 45px;
  text-align: center;
}
.map-ui-toggle{
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 60px;
  right: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-style: italic;
  z-index: 900;
  opacity: 0.3;
  font-size: 45px;
  text-align: center;
}
.map-filter{
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 75px;
  font-weight: bold;
  font-style: italic;
  z-index: 900;
  opacity: 0.7; 
  font-size: 25px;
  padding-top: 15px;
}

/*RESPONSIVE NAVIGATION WITH MEDIA QUERIES*/
@media screen and (max-width: 991px){
  .col-xs-12{width: 100%;
  padding:0;margin: 0;}
  .container{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0px 0px;
  }
}
@media screen and (max-width: 253px){
  #custom-nav{height: 55px;}
}

.nav-login li, .social-icon li{
  display: inline;
  list-style-type: none;
}

.map-ui-landing{
  height: 60px;
  background-color: #FFF;
  color: white;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  margin-top: 60px;
  padding-top: 4px;
}

/*The start of the middle section
in between the header and footer */
#main-content{
  height:100%;width:100%;
 /* padding-bottom: 120px;*/
}

/*----------= CALENDAR EVENTS PAGES=----------*/
#calendar{
  width: auto;
  margin: 0px 0px 0px 0px;
  margin-bottom: 120px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  border-collapse: separate;
  z-index: 999;
}
.map-container{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 200px;
  margin-top: 0px;
  padding: 0;
}
.fc table {
  background-color: #FFFFFF;
}
.fc-widget-header {  /* <td>, usually */
  /*background-color: green;*/
}
.fc-header-left{
  width: 100%;
}
@media screen and (max-width: 600px){
  .fc-header{
    height: 75px;
  }
  .fc-header-center {
    position: absolute;
    top: 30px;
    left: 100px;
    display: block;
    text-align: center;
  }
}

/*---==CAROUSEL-LANDING PAGE--STYLING AREA==---*/
.carousel-wrapper{
  margin-top: 1px;
}
#home-carousel{
  margin-top: 0px;
}
.img-container{
  background-color: #FFF;
  height: 100%;width:100%;
}
.img-custom{
    display: block;
    margin: 0 auto;
    width: 90%;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}
.img-custom-lg{
    display: block;
    margin: 0 auto;
    width: 100%;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
}
.custom-caption{
  right: 2%;left: 2%;
  background-color: black;
  color: white;
  font-weight: bold;font-style: italic;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
  */
  opacity: 0.5;
}
.carousel-control{
  height: inherit;
}

.carousel-control.left, .carousel-control.right{
    /*background-image: none;*/
    font-size: 2em;
    padding: 0;
    margin: 0;
}
.btn-custom{
  background-color: #5FA77A;
}
/*----------====SECOND CAROUSEL====-------*/
#carousel{
  text-align: center;
}
.img-collection{
  margin-top: 25px;
  box-shadow: 0 0 0px #aaa;
}
.img-container-sm{
  position: relative;
  width: 150px;height: 150px;
  display: inline-block;
  margin: 0 auto 0 auto;

  border: none;
  display: block;
  float: center;
  padding: 0px 0px 0px 0px;
}
.img-custom-sm{
  vertical-align: middle;
}
.img-cover{
  position: absolute;
  top: 0;
  height: 77px;
  width: 150px;
  opacity: .5;
}

.img-collection section{
  display: inline-block;
}
.img-cover p{
  color: #FFF;
  font-size: 36px;
  vertical-align: middle;
  text-align: center;
  font-family: myFirstFont;
  padding-top: 25px;
}
/*---======SHAPES=====----*/
.circle{
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50px;
}

.fa-all{
  color: #FFFFFF;
  padding: .4em 0.5em .4em .6em;
  margin: 0;
  font-size: 1.3em;
}
.fa-plus{
  background-color: grey;
}
.fa-info{
  background-color: Crimson;
}
.fa-building{
  background-color: blue;
}
.fa-university{
  background-color: black;
}
.fa-glass{
  background-color: CadetBlue;
}
.fa-cutlery{
  background-color: lightblue;
}
.fa-restroom{
  background-color: pink;
}
.fa-headphones{
  background-color: green;
}
.fa-facebook{
background: black;
color: #FFFFFF;
padding: .3em 0.3em;
}
.fa-twitter{
background: black;
color: #FFFFFF;
padding: 0.3em 0.2em;
}
/*#4099FF #3B5998 #019AD5(gov)*/
.fa-wordpress{
  background-color: black;
  color: #FFFFFF;
  padding: 0.3em 0.2em;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-wordpress:hover{
  background-color: blue;
}
/*----------Events--and--MAPS---------------*/
.angular-google-map-container { height: 400px; }
/* i dont know what .gm does*/
/*.gm-style-iw {top: 0 !important;}*/
.map-canvas { height: 500px; }
.event-map{ height: 100%;  margin: 0;padding-bottom: 60px;}
#map{
    height: 100px;
    width: 100%;
}

.map-ui a, .map-ui-toggle a{
  color: white;
}
.map-ui a:hover, .map-ui-toggle a:hover{
  color: red;
}
#eventmap{
    height: 100vh;
    width: 100%;
}


/*----------=LIST VIEW=-------------*/
.largeTitle {
  font-size: 10pt;
}

.list-container{
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
}

.gridItem h3 {
    text-transform: uppercase;
}
 
.gridItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gridItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;    
    width: 16%;
    margin:  2% 2% 50px 2%; 
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    .gridItem {width: 21%;}
}
 
@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .gridItem {width: 29.33333%;}
}
 
@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .gridItem {width: 46%;}
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .gridItem {width: 96%;}
    .gridItem img {width: 96%;}
    .gridItem h3 {font-size: 18px;}
    .gridItem p, {font-size: 18px;}
}


/*----------=END LIST VIEW=-------------*/
#calendar-wrapper{
  margin-top: 10px;
}



/*----------=TOUR VIEW=-------------*/

#tourlist {
	
	height: 200px;
	
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
	
}

#tourlist li{
	
	box-shadow: 1px 1px 10px #999;
	background: #ffffff;
	padding: 5px;
	
	display:inline-block;
	*display:inline;/* For IE7*/
	*zoom:1;/* For IE7*/
	
}

#tourImage {
	
	width:100%;
	height:50%;
	
}

#pointlist {
	
	height: 200px;
	
	overflow-x: scroll;
	overflow-y: hidden;
	white-space:nowrap;
}

#pointlist li{
	
	box-shadow: 1px 1px 10px #999;
	background: #ffffff;
	padding: 5px;
	
	display:inline-block;
	*display:inline;/* For IE7*/
	*zoom:1;/* For IE7*/
	
}

#point {
	
	text-align:center;
	width: 100%;
	height: 100px;
	margin-top:25px;
	
}

#pointImg {
	
	height: 200px;
	overflow:hidden;
	
}

#pointImg img{
	
	width:100%;
}
=======
/*-----------end of List View--------------*/

