<div class="global-alerts"> 
    <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
        <div class="alert alert-danger" data-dismiss="alert" role="alert">
            <strong>3 pedding notifications!</strong> ...
        </div>
    </a>
    <div id="light" class="white-content">
        <ul class="nav-inlineblock alertbox-header">
            <li class="pull-left alertbtn"><span class="alertopen"></span></li>
            <li class="alert-title">SPECIAL ALERT</li> <!--We may want to change the title depending on the alert-->
            <li class="pull-right alertclosingbtn"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><span class="alertclose"></span></a></li>
        </ul> 

        <ul class="list-notification">                  <!--TODO: type of alert and short message-->
            <li class="notif-dropdown">Weather: raining... </li>
            <div class="dropdownwrap"><p>Please find shelter. heavy rain fall in 1 hour</p></div>
            <li class="notif-dropdown">Park: park closing in 5 minutes...</li>
            <div class="dropdownwrap"><p>Please head to Manttan ferry, closing is in 10 minutes. there is no food on the island.</p></div>
        </ul>
    </div>
    <div id="fade" class="white-overlay"></div>
</div>