<nav class="navbar-fixed-top" id="nav-beta" data-ng-controller="NavController" ng-init="activelink(currentLink)">
    <div class="nav-ui">
    	<div class="container">
	        <ul class="nav-inlineblock">
	        	<li ng-hide="isActive(0)" class="pull-left navleft-btn"><a ui-sref="/" ng-click="activelink(0)"><span ng-class="{activehome:isActive(0)}" class="glyphicon glyphicon-home"></span></a></li>
	        	<!--<li ng-hide="!isActive(0)" class="pull-left navleft-btn"><a ui-sref="/" ng-click="activelink(0)"><span ng-class="{weather:isActive(0)}" class="resizeweather"></span></a></li>-->
	        	<li ng-hide="!isActive(0)" class="pull-left navleft-btn"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><i class="glyphicon glyphicon-globe"></i><span class="notification-counter">25</span>    </a></li>
	            <li class="nav-gov-brand"><a ui-sref="/">GOVERNORS ISLAND</a></li>
	            <li ng-hide="buttonswap()" class="pull-right navright-btn"><a ui-sref="about" ng-click="activelink(1)"><span ng-class="{activeinfo:isActive(1)}" class="glyphicon glyphicon-info-sign"></span></a></li>
	            <li ng-show="isActive(3)" class="pull-right navright-btn">
					<a type="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span></a>
					<ul class="dropdown-menu map-ui-filter" role="menu">
						<li ng-click="toggleFilters('info')"><a ng-class="{active: isFilterActive('info')}"><i class="info"></i><span class="map-ui-btn">INFORMATION</span></a></li>
					    <li ng-click="toggleFilters('activity')"><a ng-class="{active: isFilterActive('activity')}")><i class="activities"></i><span class="map-ui-btn">ACTIVITIES</span></a></li>
					    <li ng-click="toggleFilters('food, drink')"><a ng-class="{active: isFilterActive('food') || isFilterActive('drink')}"><i class="food"></i><span class="map-ui-btn">FOOD &amp; DRINK</span></a></li>
					    <li ng-click="toggleFilters('tour')"><a ng-class="{active: isFilterActive('tour')}"><i class="history"></i><span class="map-ui-btn">HISTORY</span></a></li>
                        <!--<li ng-click="toggleFilters('venue')"><a ng-class="{active: isFilterActive('venue')}" ><i class="venues"></i><span class="map-ui-btn">VENUES</span></a></li>-->
                        <li ng-click="toggleFilters('event')"><a ng-class="{active: isFilterActive('event')}"><i class="venues"></i><span class="map-ui-btn">EVENTS</span></a></li>
                        <li ng-click="toggleFilters('facility')"><a ng-class="{active: isFilterActive('facility')}"><i class="facilities"></i><span class="map-ui-btn">FACILITIES</span></a></li>
                        <li ng-click="toggleFilters('alert')"><a ng-class="{active: isFilterActive('alert')}"><i class="facilities"></i><span class="map-ui-btn">ALERTS</span></a></li>
					</ul>
				</li>
				<li ng-show="isActive(6)" class="pull-right navright-btn"><a ui-sref="events.grid" ng-click="activelink(2)"><span class="glyphicon glyphicon-th-large"></span></a></li>
				<!--TODO: disabled list view for now since it is currently not integrated with logic-->
                <!--<li ng-show="isActive(2)" class="pull-right navright-btn"><a ui-sref="events.list" ng-click="activelink(6)"><span class="glyphicon glyphicon-th-list"></span></a></li>-->
	        </ul>
        </div>
    </div>
</nav>
<div id="headerspacing"></div>

<div ng-show="alerts && alerts.length" ng-controller="AlertsController">
    <div class="global-alerts"> 
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
            <div class="alert alert-danger" data-dismiss="alert" role="alert">
                <strong>{{alerts.length}} pending alerts!</strong> ...
            </div>
        </a>
        <div id="light" class="white-content">
            <ul class="nav-inlineblock alertbox-header">
                <li class="pull-left alertbtn"><span class="alertopen"></span></li>
                <li class="alert-title">{{alerts[0].type || uppercase}} ALERT</li> <!--We may want to change the title depending on the alert-->
                <li class="pull-right alertclosingbtn"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><span class="alertclose"></span></a></li>
            </ul> 

            <ul class="list-notification">                  <!--TODO: type of alert and short message-->
                <li class="notif-dropdown">{{alerts[0].name}} </li>
                <div class="dropdownwrap"><p>{{alerts[0].description}}</p></div>
                <div class="notif-dropdown" ng-if="alerts[0].location"><p>Location: {{alerts[0].location}}</p></div>
                <li class="notif-dropdown">From: {{alerts[0].startDateTime | date:'dd/mm/yyyy hh:mm:ss a'}}</li>
                <li class="notif-dropdown">Until: {{alerts[0].startDateTime | date:'dd/mm/yyyy hh:mm:ss a'}}</li>
            </ul>
        </div>
        <div id="fade" class="white-overlay"></div>
</div>
