<div data-ng-controller="HeaderController" ng-show="navHeader">
	<nav class="navbar-fixed-top" id="nav-beta" ng-controller="NavController">
	    <div class="nav-ui" ng-show="headerview">
	    	<div class="container">
		        <ul class="nav-header-link nav-inlineblock">
		            <li class="pull-right navright-btn"><a ui-sref="about"><span class="glyphicon glyphicon-info-sign"></span></a></li>
		            <li class="nav-gov-brand"><a ui-sref="ferry">GOVERNORS ISLAND</a></li>
		            <li class="pull-left navleft-btn"><a ui-sref="/"><span class="glyphicon glyphicon-home"></span></a></li>
		        </ul>
	        </div>
	    </div>
	</nav>
</div>