<section id="map" ng-controller="MapController2" >
    <!-- render map. ui-map will be the name of scope property -->
    <div ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" class="map-canvas"></div>

    <!-- populate map with event markers -->
    <div ng-repeat="marker in existingMarkers"
        ui-map-marker="existingMarkers[$index]"
        ui-event="markerEvents">
    </div>

    <!-- create a hidden edit form for each event -->
    <div ng-repeat="event in events" ng-controller="ExistingEventController">
        <div ng-show="isEditMode && showForm"
             ng-include="'/templates/events/eventForm.html'" scope="" onload="">
        </div>
    </div>

    <!-- populate map with new markers/events -->
    <div ng-repeat="marker in newMarkers"
        ng-controller="NewEventController"
        ui-map-marker="newMarkers[$index]"
        ui-event="newMarkerEvents">
        <!-- create a hidden edit form for each new event/marker -->
        <div ng-show="isEditMode && showForm"
             ng-include="'/templates/events/eventForm.html'" scope="" onload="">
        </div>
    </div>

    <div ui-map-info-window="myInfoWindow">
      <h1>Marker</h1>
      Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
      <a ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
    </div>

    <div>
        Edit mode: <input type="checkbox" ng-model="isEditMode" ng-change="toggleEditMode(isEditMode)">
    </div>
</section>
