<div ng-controller="MapController">
    <google-map
        center="mapParams.center"
        zoom="mapParams.zoom"
        options="mapParams.options"
        events="mapParams.events"
        control="map"
        draggable='true'>

        <!-- also works -->
        <!-- <markers models="events" coords="'coords'"></markers> -->

        <marker
            ng-repeat="event in events"
            ng-controller="ExistingMarkerController"
            events="markerParams.events"
            coords="event.coords"
            icon="event.icon">
            <marker-label content="event.name" anchor="22 0" class="marker-labels"/>
            <window ng-cloak  coords="event.coords" isIconVisibleOnClick="true" options="event.options">
                        <p>{{event.description}}</p>
            </window>
        </marker>

        <!-- TODO: marker type filters -->
    </google-map>

    <div>
        Edit mode: <input type="checkbox" ng-model="isEditMode" ng-change="toggleEditMode(isEditMode)">
    </div>

    <div ng-repeat="event in events" ng-controller="ExistingEventController">
        <div ng-show="isEditMode && showForm"
             ng-include="'/templates/events/eventForm.html'" scope="" onload="">
        </div>
    </div>

    <div ng-controller="NewMarkerController">
        <div ng-repeat="marker in markers" ng-controller="NewEventController">
            <div ng-show="isEditMode && showForm"
                 ng-include="'/templates/events/eventForm.html'" scope="" onload="">
            </div>
        </div>
    </div>

    <!-- TODO: display text list of markers -->
    <!-- TODO: event/marker detail page(s) -->
</div>
