<div ng-controller="NavController">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="carouselTest">
		<div id="mainCaro" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li ng-repeat="feature in featured" data-target=" #mainCaro" data-slide-to="{{$index}}" ng-class="{active: initLanding($index)}"></li>
				<!--<li data-target="#mainCaro" data-slide-to="0" class="active"></li>
				<li data-target="#mainCaro" data-slide-to="1"></li>-->
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<!-- Lonique fix me ;-) 
					 later buddy later i will fix you
	    			<div ng-repeat="item in featured" ng-class="{'item':initLanding($index)}">
			        	<a ui-sref="item.detail({id: item.id})"> <img ng-src="{{item.media}}" alt="{{item.name}}" class="img-custom-lg img-reponsive">	 
			        	<div class="carousel-caption"><p>{{item.name}} | {{item.startDateTime | date:'MM/dd/yyyy'}}</p></div>
			        	</a>
				    </div>
				-->
			    <div class="item active">
		        	<img ng-src="{{featured[0].media}}" alt="{{featured[0].name}}" class="img-custom-lg img-reponsive"/>	 
		        	<div class="carousel-caption"><p>{{featured[0].name}} | {{featured[0].startDateTime | date:'MM/dd/yyyy'}}</p></div>
		        
					<a ui-sref="events.detail({id: featured[0].id})"><div class="carouselMore">more >></div></a>
					<div class="swapePanel"></div>
			    </div>
			    <div class="item">
			      	<a ui-sref="events.detail({id: featured[0].id})"><img ng-src="{{featured[1].media}}" alt="{{featured[0].media}}" class="img-custom-lg img-responsive"/>
			    	<div class="carousel-caption"><p>{{featured[1].name}} | {{featured[1].startDateTime | date:'MM/dd/yyyy'}}</p></div>
			    	</a>
					<a ui-sref="events.detail({id: featured[1].id})"><div class="carouselMore">more >></div></a>
					<div class="swapePanel"></div>
			    </div>    
			</div><!--ENDING OF CAROUSEL-INNER-->
		</div>
	</div>
	<div class="clear"></div>
	<div class="container">
		<div class="carousel slide" id="myCarousel">
			<div class="img-collection">
				<div class="carousel-inner">
					<div class="item active">
					  <div class="img-container-sm"><a ng-click="activelink(2)" ui-sref="events.grid"><img ng-src="images/landing/Thumb_discover_320x250.jpg" class="img-responsive"></a></div>
					</div>
					<div class="item">
					  <div class="img-container-sm"><a ng-click="activelink(3)" ui-sref="events.map"><img ng-src="images/landing/Thumb_eat_320x250.jpg" class="img-responsive"></a></div>
					</div>
					<div class="item">
					  <div class="img-container-sm"><a ng-click="activelink(3)" ui-sref="events.map"><img ng-src="images/landing/Thumb_enjoy_320x250.jpg" class="img-responsive"></a></div>
					</div>
					<div class="item">
					  <div class="img-container-sm"><a ng-click="activelink(4)" ui-sref="tours"><img ng-src="images/landing/Thumb_learn_320x250.jpg" class="img-responsive"></a></div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
		</div>
	</div><!-- END OF CAROUSEL -->
</div>
<script type="text/javascript" src="js/carousel.js"></script>

