<div id="home-carousel" class="carousel slide" data-ride="carousel">
  	<!-- Wrapper for slides -->
	<div class="carousel-inner">
	    <div class="item active">
	        <img src="images/rsz_slide_0.jpg" alt="gov's island" class="img-responsive">

		    <div class="carousel-caption"><h3>VISIT THE ISLAND</h3></div>
	    </div>
	    <div class="item">
	      <img src="images/rsz_slide_1.jpg" alt="gov's island" class="img-responsive">
	    	<div class="carousel-caption "><h3>PROGRAMS THIS WEEK</h3></div>
	    </div>
	    <div class="item">
	      <img src="images/rsz_slide_2.jpg" alt="gov's island" class="img-responsive">
	      <div class="carousel-caption"><h3>FERRY SCHEDULE</h3></div>
	    </div>
	    <div class="item">
	      <img src="images/rsz_slide_3.jpg" alt="gov's island" class="img-responsive">
	      <div class="carousel-caption"><h3>PERMITS</h3></div>
	    </div>
	</div><!--ENDING OF CAROUSEL-INNER nav-pills-->
	<ul class="nav nav-justified carousel-nav">
	  <li data-target="#home-carousel" data-slide-to="0" class="carousel-info"><a href="#">Come visit us today</a></li>
	  <li data-target="#home-carousel" data-slide-to="1"><a href="#">All you can eat for FREE</a></li>
	  <li data-target="#home-carousel" data-slide-to="2"><a href="#">Everything on the island FREE</a></li>
	  <li data-target="#home-carousel" data-slide-to="3"><a href="#">FREE money</a></li>
	</ul>
	<!-- Controls --><a class="carousel-control left" href="#home-carousel"  data-slide= 'prev'>
		<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	<a class="carousel-control right" href="#home-carousel" data-slide= 'next'>
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
<script type="text/javascript" src="js/carousel.js"></script>