<div class="container">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div id="first-carousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target=" #first-carousel" data-slide-to="0" class="active"></li>
					<li data-target=" #first-carousel" data-slide-to="1"></li>
					<li data-target=" #first-carousel" data-slide-to="2"></li>
					<li data-target=" #first-carousel" data-slide-to="3"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
				    <div class="item active">
			        	<img src="images/rsz_slide_0.jpg" alt="gov's island" class="img-custom-lg img-reponsive">
			        	 <div class="carousel-caption  "><h3>VISIT THE ISLAND</h3><h4><a type="button" class="btn btn-custom">More ... </a></h4></div>
				    </div>
				    <div class="item">
				      		<img src="images/rsz_slide_1.jpg" alt="gov's island" class="img-custom-lg img-responsive">
				    	<div class="carousel-caption  "><h3>PROGRAMS THIS WEEK</h3><h4><a type="button" class="btn btn-custom">More ... </a></h4></div>
				    </div>
				    <div class="item">
				     		<img src="images/rsz_slide_2.jpg" alt="gov's island" class="img-custom-lg img-responsive">
				      	<div class="carousel-caption  "><h3>FERRY SCHEDULE</h3><h4><a type="button" class="btn btn-custom">More ... </a></h4></div>
				    </div>
				    <div class="item">
				      		<img src="images/rsz_slide_3.jpg" alt="gov's island" class="img-custom-lg img-responsive">
				      	<div class="carousel-caption  "><h3>PERMITS</h3><h4><a type="button" class="btn btn-custom">More ... </a></h4></div>
				    </div>
				</div><!--ENDING OF CAROUSEL-INNER nav-pills-->
				<!-- Controls -->
				<a data-target=" #first-carousel" class="left carousel-control" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a data-target=" #first-carousel" class="right carousel-control" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
	</div>
</div>
<div class="container">
	<div class="img-collection">
		<div id="carousel">
			<section>
				<div class="img-container-sm">
					<a><img src="images/rsz_slide_1.jpg" alt="gov's island" class="img-custom-sm img-responsive"></a>
					<div class="img-cover information"><p>Discover</p></div>
				</div>
			</section>
			<section>
				<div class="img-container-sm">
						<a><img src="images/rsz_slide_2.jpg" alt="gov's island" class="img-custom-sm img-responsive"></a>
						<div class="img-cover food-drink"><p>Enjoy</p></div>
				</div>
			</section>
			<section>
				<div class="img-container-sm">
						<a><img src="images/rsz_slide_3.jpg" alt="gov's island" class="img-custom-sm img-responsive"></a>
						<div class="img-cover activities"><p>Eat</p></div>
				</div>
			</section>
			<section>
				<div class="img-container-sm">
						<a><img src="images/rsz_slide_0.jpg" alt="gov's island" class="img-custom-sm img-responsive"></a>
						<div class="img-cover venues"><p>Learn</p></div>
				</div>
			</section>
		</div>
	</div>
</div>
<script type="text/javascript" src="js/jquery.carouFredSel-6.0.4-packed.js" ></script>
<script type="text/javascript">
	$(function() {
		$('#carousel').carouFredSel({
			responsive: true,
			scroll: 1,
			items: {
				width: 300,
				height: '100%',
				visible: {
					min: 2,
					max: 5
				}
			},
			pauseOnHover    : true
		});
	});
</script> 

