<div class="navbar-fixed-bottom navmain" ng-controller="NavController">
    <div class="map-ui" ng-show="headerview">
        <ul class="nav-login">
            <!--<li><a ng-click="showNav()" ui-sref="/"><span class="glyphicon glyphicon-home"></span></a></li>-->
            <!--<li><a ng-click="showNav()" ui-sref="ferry"><span class="glyphicon glyphicon-plane"></span></a></li>-->
            <li><a ng-click="showNav()" ui-sref="ferry"><img class="navimg-icon" ng-src="images/ferry_off.png"/></a></li>

            <li><a ng-click="showNav();listormap=false" ui-sref="events.map" ng-show="listormap"><span class="glyphicon glyphicon-map-marker"></span></a></li>
            <li><a ng-click="showNav();listormap=true" ui-sref="events.list" ng-hide="listormap"><span class="glyphicon glyphicon-list"></span></a></li>
            <li><a ng-click="showNav()"><span class="glyphicon glyphicon-headphones"></span></a></li>
            <li><a ng-click="showNav()" ui-sref="events.calendar"><span class="glyphicon glyphicon-calendar"></span></a></li>
        </ul>
    </div>
    <div class="map-ui-toggle">
        <ul class="nav-login">
            <li><a class="toggle-up" ng-hide="headerview" ng-click="headerview=true"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
            <li><a class="toggle-down" ng-show="headerview" ng-click="headerview=false"><span class="glyphicon glyphicon-chevron-down"></span></a></li>
        </ul>
    </div>
</div> 
<script type="text/javascript">
$(function() {
    $('.toggle-down').on('click', function () {
        $('.map-ui-toggle').css("bottom","0px");
    });

    $('.toggle-up').on('click', function () {
        $('.map-ui-toggle').css("bottom",'60px');
    });
});
</script>
