<div class="navbar-fixed-bottom" ng-controller="NavController" ng-init="activelink(currentLink)">
    <div class="map-ui">
        <ul class="nav-inlineblock">
        	<li id="nav-home">
        		<a ui-sref="/" ng-click="activelink(0)"><span ng-class="{activeTab:isActive(0)}" class="glyphicons home"></span></a>
        		<a class="tab_title" ng-class="{activeTab:isActive(0)}"> &nbsp;Home</a>
        	</li>
            <li id="nav-event">
            	<a ng-click="activelink(2)" ui-sref="events.grid"><span ng-class="{activeTab: isActive(2) || isActive(6)}" class="glyphicons calendar"></span></a>
            	<a class="tab_title" ng-class="{activeTab: isActive(2) || isActive(6)}"> Events</a>
            </li>
            <li id="nav-map">
            	<a ng-click="activelink(3);buttonswap()" ui-sref="map"><span ng-class="{activeTab:isActive(3)}" class="glyphicons google_maps"></span></a>
            	<a class="tab_title" ng-class="{activeTab:isActive(3)}">&nbsp;&nbsp; Map</a>
            </li>
            <li id="nav-tour">
            	<a ng-click="activelink(4)" ui-sref="tours"><span ng-class="{activeTab:isActive(4)|| isActive(7)}" class="glyphicons headphones"></span></a>
            	<a class="tab_title" ng-class="{activeTab:isActive(4)|| isActive(7)}"> &nbsp;Tours</a>
            </li>
            <li id="nav-ferry">
            	<a ng-click="activelink(5)" ui-sref="ferry"><span ng-class="{activeTab:isActive(5)}" class="glyphicons boat"></span></a>
            	<a class="tab_title" ng-class="{activeTab:isActive(5)}">Visit Us</a>
            </li>
        </ul>
    </div>
</div>
