<section class="event-map" ng-controller="MapController" >

    <!-- render map. ui-map will be the name of scope property -->
    <div class="container">

    	<div ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" class="map-canvas"></div>
	</div>
    <div ng-controller="MarkerListController">
        <div class="map-filter ">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">filter <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="toggleFilter(['info', 'food', 'drink', 'activity', 'venue', 'facility', 'tour', 'event'])"><a><i class="fa fa-plus fa-all circle"></i>All</a></li>
                    <li ng-click="toggleFilter('info')"><a><i class="fa fa-info fa-all circle"></i> info</a></li>
                    <li ng-click="toggleFilter(['food', 'drink'])"><a><i class="fa fa-building fa-all circle"></i> Food and Drink</a></li>
                    <li ng-click="toggleFilter('activity')"><a><i class="fa fa-university fa-all circle"></i> Activities</a></li>
                    <li ng-click="toggleFilter('venue')"><a><i class="fa fa-glass fa-all circle"></i> Venus</a></li>
                    <li ng-click="toggleFilter('facility')"><a><i class="fa fa-cutlery fa-all circle"></i> Facilities</a></li>
                    <li ng-click="toggleFilter('tour')"><a><i class="fa fa-headphones fa-all circle"></i> History</a></li>
                    <li ng-click="toggleFilter('event')"><a><i class="fa fa-headphones fa-all circle"></i> Events</a></li>
                </ul>
            </div>
        </div>

        <!-- populate map with event markers -->
        <div ng-repeat="marker in existingMarkers"
            ui-map-marker="existingMarkers[$index]"
            ui-event="markerEvents">

            <!-- create a hidden edit form for each event -->
            <div ng-init="event = events[$index]" ng-controller="ExistingEventController">
                <!-- TODO: is this an abuse of ng-init? -->
                <div ng-show="isEditMode && showForm" ng-init="markers = existingMarkers"
                     ng-include="'/templates/events/eventForm.html'" scope="" onload="">
                </div>
            </div>

        </div>
    </div>


    <!-- populate map with new markers/events -->
    <div ng-repeat="marker in newMarkers"
        ng-controller="NewEventController"
        ui-map-marker="newMarkers[$index]"
        ui-event="newMarkerEvents">

        <!-- create a hidden edit form for each new event/marker -->
        <div ng-show="isEditMode && showForm" ng-init="markers = newMarkers"
             ng-include="'/templates/events/eventForm.html'" scope="" onload="">
        </div>

    </div>

    <!-- only one infoWindow, gets moved and populated dynamically -->
    <div ui-map-info-window="myInfoWindow">
      <h1>{{currentEvent.name}}</h1>
      <p>{{currentEvent.description}}</p>
      <p>{{currentEvent.location}}</p>
      <a ng-href="#/events/{{currentEvent.slug}}" title="">Details</a>
    </div>

    <div>
        Edit mode: <input type="checkbox" ng-model="isEditMode" ng-change="toggleEditMode(isEditMode)">
    </div>
</section>


<!-- TODO: display text list of markers -->
<!-- TODO: event/marker detail page(s) -->
<!-- TODO: filtering -->

