<section class="event-map" ng-controller="MapController" >
    <!-- render map. ui-map will be the name of scope property -->
    <div class="map-container">
    	<div id="eventmap" ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" class="eventmap"></div>
        <div ng-controller="MarkerListController">
            <!-- populate map with event markers -->
            <div ng-repeat="marker in existingEventMarkers">
                <span
                    ng-init="entity = events[$index]"
                    ui-map-marker="marker"
                    ui-event="markerEvents"></span>

                <!-- create a hidden edit form for each event -->
                <!--markers handle is there so current marker can be cleanly removed if need be-->
                <div ng-init="event = entity" ng-controller="ExistingEventMarkerController">
                    <div ng-show="isEditMode && showForm" ng-init="markers = existingEventMarkers"
                         ng-include="'/templates/events/eventForm.html'" scope="" onload="">
                    </div>
                </div>
            </div>
            <div ng-repeat="marker in existingAmenityMarkers">
                <span
                        ng-init="entity = amenities[$index]"
                        ui-map-marker="marker"
                        ui-event="markerEvents"></span>

                <div ng-init="amenity = entity" ng-controller="ExistingAmenityMarkerController">
                    <div ng-show="isEditMode && showForm" ng-init="markers = existingAmenityMarkers"
                         ng-include="'/templates/amenities/amenityForm.html'" scope="" onload="">
                    </div>
                </div>
            </div>
			
			<!-- write the tour marker -->
			
            <div ng-repeat="marker in tourMarkers">
                <span
                        ng-init="entity = tourPoints[$index]"
                        ui-map-marker="marker"
                        ui-event="markerEvents"></span>

                <div ng-controller="TourMarkerController">
                </div>
            </div>

        </div>

    </div>

    <!-- populate map with new markers/events -->
    <div ng-controller="NewMarkerListController">
        <div ng-repeat="marker in newMarkers"
            ui-map-marker="marker"
            ui-event="newMarkerEvents">

            <select ng-model="newEntityContentType"
                    ng-options="contentType for contentType in contentTypes">
                <option value="">-- choose content type --</option>
            </select>

            <!-- create a hidden edit form for each new event/marker -->
            <div ng-show="isEditMode" ng-init="markers = newMarkers">
                <div ng-if="newEntityContentType == 'event'" ng-controller="NewEventMarkerController"
                     ng-include="'/templates/events/eventForm.html'" scope="" onload=""
                     ng-show="showForm">
                </div>

                <div ng-if="newEntityContentType == 'amenity'" ng-controller="NewAmenityMarkerController"
                     ng-include="'/templates/amenities/amenityForm.html'" scope="" onload=""
                     ng-show="showForm">
                </div>
            </div>
        </div>
    </div>

    <!-- only one infoWindow, gets moved and populated dynamically -->
	
	<!-- put in ng-if and make second second section for handling tourpoint marker -->
    <div ui-map-info-window="myInfoWindow" id="myInfoWindow">
		
		   <div ng-show="currentEvent.type != 'tour'">
			   <a class="black" ui-sref="events.detail({ slug: currentEvent.slug })">
			  <p>{{currentEvent.name}}</p>
	 	      <p ng-show="currentEvent.type != 'tour'">{{currentEvent.description}}</p>
	 	      <p ng-show="currentEvent.type != 'tour'">{{currentEvent.location}}</p>
		  	  </a> 
		  </div>	   
		   
		  <div ng-show="currentEvent.type == 'tour'">
			  <a class="black" ui-sref="tourpoint({ id: currentEvent.id })">
			  <img ng-show="currentEvent.type == 'tour'" ng-src="http://www.entangledspace.com/data/postImages/{{currentEvent.imageLoc}}" width="70" height="70">
			  <h3>{{currentEvent.name}} <span>from &quot;{{currentEvent.tourName}}&quot;
				  <br>by {{currentEvent.userName}}</span></h3>
			 
			</a>
		  </div>
    </div>
	

	
    <div ng-show="isAdmin">
        Edit mode: <input type="checkbox" ng-model="isEditMode" ng-change="toggleEditMode(isEditMode)">
    </div>
</section>


<!-- TODO: display text list of markers -->
<!-- TODO: event/marker detail page(s) -->

