<div id="allTours" ng-controller="ToursController">
	<div class="info-banner textLeft">
		<h3>FEATURED AUDIO<span class="glyphicons search fr" ng-if="false"></span></h3>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div id="main-carousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target=" #main-carousel" data-slide-to="0" class="active"></li>
				<li data-target=" #main-carousel" data-slide-to="1"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
		        	<img ng-src="{{getImageSrc(myTours[1].imageLoc)}}" alt="gov's island" class="img-responsive">
		        	 <div class="carousel-caption"><p>EVENTS ON THE ISLAND</p></div>
		        	 <a class="testtest" ui-sref="tourlist({ id: 8})"><div class="swapePanel"></div></a>
			    </div>
			    <div class="item">
			      	<img ng-src="{{getImageSrc(myTours[0].imageLoc)}}" alt="gov's island" class="img-custom-lg img-responsive">
			    	<div class="carousel-caption"><p>PAST, PRESENT, FUTURE</p></div>
			    	<a class="testtest" ui-sref="tourlist({ id: 9})"><div class="swapePanel"></div></a>
			    </div>
			</div><!--ENDING OF CAROUSEL-INNER nav-pills-->

		</div>
	</div>
	<div class="clear"></div>
	<section>
		<h3 id="artistLabel">Curated Tours</h3>
		<ul class="eventlist"> 
			<li data-ng-repeat="tour in myTours">
				<a ui-sref="tourlist({ id: tour.id })">
					<img ng-src="{{getImageSrc(tour.imageLoc)}}" alt="" width="150px" height="150px">
					<div class="caption">
						<h5>{{tour.tourName}}</h5>
					</div>
				</a>
			</li>
		</ul>
	</section>
	<h3 id="artistLabel">ARTIST CONTRIBUTORS</h3>
	<ul class="eventlist"> 
		<li data-ng-repeat="tour in contributedTours">
			<a ui-sref="tourlist({ id: tour.id })">
				<img ng-src="{{getImageSrc(tour.imageLoc)}}" alt="" width="150px" height="150px">
				<div class="caption">
					<h5>{{tour.tourName}}</h5>
				</div>
			</a>
		</li>
	</ul>
</div><br/><br/>
<script type="text/javascript">
jQuery( document ).ready(function( $ ) {
	   $("#main-carousel").swiperight(function() {  
	      $("#main-carousel").carousel('prev');  
	    });  
	   $("#main-carousel").swipeleft(function() {  
	      $("#main-carousel").carousel('next');  
	   });  
});  
</script>  
