<div id="point" ng-controller="TourpointDetailController">
	
	<div id="pointImg">
		<img src="{{getImageSrc(tourpoint.imageLoc)}}">
	</div>
	<div class="audioPlayer">
		<button ng-click="play()" class="button" ng-show="!playing"><img src="../images/detail_play.png"></button>
		<button ng-click="stop()" class="button" ng-show="playing"><img src="../images/detail_pause.png"></button>
	</div>
	<div id="pointInfo">
		<h3>{{tourpoint.postName}}</h3>
		<p id="info">
			{{tourpoint.postText}}
		</p>
	</div>
</div>