<div class="info-banner">
	<h4>ABOUT GOVERNORS ISLAND</h4>
</div>
<div class="img-detail">
	<img alt="governor island" ng-src="images/about/About_GovIsland_640x310.jpg" class="img-responsive"/>
</div>

<div class="text-center softtop-padding">
	<ul class="nav-inlineblock">
		<a href="https://www.facebook.com/govisland" target="_blank"><li class="facebook"></li></a>
		<a href="http://govislandblog.com/" target="_blank"><li class="wordpress"></li></a>
		<a href="https://twitter.com/gov_island" target="_blank"><li class="twitter"></li></a>
		<a href="http://instagram.com/governorsisland?ref=badge" target="_blank"><li class="instagram"></li></a>
	</ul>
</div>
<p class="lead text-indent">Governors Island, a 172 acre island in the heart of New York Harbor, is only 800 yards from Lower Manhattan, and even closer to Brooklyn. It is a world unto itself, unique and full of promise.</p>

<p class="lead text-indent">For almost two centuries, Governors Island was a military base - home to the US Army and later the Coast Guard, and closed to the public. In 2003 the federal government sold 150 acres of Island to the people of New York, with the Island's governance and funding jointly shared by the City of New York and State of New York. The remaining 22 acres of the Island was declared the Governors Island National Monument that is overseen by the National Park Service.</p>

<p class="lead text-indent">The City of New York is now responsible for Governors Island and created the Trust for Governors Island, the organization charged with the operations, planning and redevelopment of 150 acres of the Island.</p>

<p class="lead text-indent">The Trust is transforming Governors Island into a destination with great public open space, as well as educational, not-for-profit, and commercial facilities. 30 new acres of park and public spaces are now open to the public. Last summer, The Trust broke ground on the Hills, the crowning feature of the new park. Made of recycled construction and fill materials, The Hills will rise 25 to 80 feet above the Island, and the summit of the tallest Hill will provide visitors with a 360-degree panorama of the Statue of Liberty, New York Harbor and the Lower Manhattan skyline.</p>

<p class="lead text-indent">In addition to the completion of the new park spaces and construction of the Hills, The Trust is proceeding with an ambitious infrastructure program to ready the Island for expanded tenancy and activity. The Trust has also identified RFP finalists for tenancy in the Island's historic buildings, which will help achieve the goal of making Governors Island an extraordinary public resource with a vibrant mix of uses and activities.</p><br>