<div id="allEvents">
	<div class="info-banner textLeft">
		<h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			Upcoming Events<span class="glyphicons search fr" ng-if="false"></span>
		</h3>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
	        <form class="navbar-form" role="search">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm" ng-show="isSearchVisible">
		            <div class="input-group-btn">
		                <button class="btn btn-default" type="submit" ng-click="toggleOrQuery(isSearchVisible, searchTerm)">
		                	<i class="glyphicon glyphicon-search"></i>
	                	</button>
		            </div>
		        </div>
	        </form>
        </div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div id="eventCaro" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target=" #eventCaro" data-slide-to="0" class="active"></li>
				<li data-target=" #eventCaro" data-slide-to="1"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
		        	<img ng-src="{{featured[0].coverPhoto.url}}" alt="{{featured[0].name}}" class="img-responsive">
		        	<div class="carousel-caption"><p>{{featured[0].name}} |  {{featured[0].startDateTime| date: 'M/d'}}</p></div>
		        	<a class="testtest" ui-sref="events.detail({slug: featured[0].slug})"><div class="swapePanel"></div></a>
			    </div>
			    <div class="item">
			      	<img ng-src="{{featured[1].coverPhoto.url}}" alt="{{featured[1].name}}" class="img-responsive">
			    	<div class="carousel-caption"><p>{{featured[1].name}} | {{featured[1].startDateTime | date: 'M/d'}} </p></div>
			    	<a class="testtest" ui-sref="events.detail({slug: featured[1].slug})"><div class="swapePanel"></div></a>
			    </div>
			</div><!--ENDING OF CAROUSEL-INNER-->
		</div>
	</div>
	<div class="clear"></div>
	<section >
		<h4 class="info-banner-left">Special Events</h4>
		<ul class="eventlist">
			<li ng-repeat="event in specialEvent">
				<a ui-sref="events.detail({slug: event.slug})">
					<img ng-src="{{event.coverPhoto.url}}" alt="{{event.name}}" width="200px" height="150px">
					<div class="caption">
						<h5>{{event.name}}</h5><h5 class="sp1">{{event.startDateTime|date:'MMMM dd'}}</h5>
					</div>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h4 class="info-banner-left">National Park Service Programs</h4>
		<ul class="eventlist">
			<li data-ng-repeat="event in parkServices">
				<a ui-sref="events.detail({ slug: event.slug })">
					<img ng-src="{{event.coverPhoto.url}}" alt="{{event.name}}" width="200px" height="150px">
					<div class="caption">
						<h5>{{event.name}}</h5><h5 class="sp1">{{event.startDateTime|date:'MMMM dd'}}</h5>
					</div>
				</a>
			</li>
		</ul>
	</section>
	<section>
		<h4 class="info-banner-left">Programs</h4>
		<ul class="eventlist">
			<li data-ng-repeat="event in venues">
				<a ui-sref="events.detail({ slug: event.slug })">
					<img ng-src="{{event.coverPhoto.url}}" alt="{{event.name}}" width="200px" height="150px">
					<div class="caption">
						<h5>{{event.name}}</h5><h5 class="sp1">{{event.startDateTime|date:'MMMM dd'}}</h5>
					</div>
				</a>
			</li>
		</ul>
	<section>
	</section>
	<section>
		<h4 class="info-banner-left">Activities</h4>
		<ul class="eventlist">
			<li data-ng-repeat="event in activities">
				<a ui-sref="events.detail({ slug: event.slug })">
					<img ng-src="{{event.coverPhoto.url}}" alt="{{event.name}}" width="200px" height="150px">
					<div class="caption">
						<h5>{{event.name}}</h5><h5 class="sp1">{{event.startDateTime|date:'MMMM dd'}}</h5>
					</div>
				</a>
			</li>
		</ul>
	</section>
</div><br/>
<script type="text/javascript">
jQuery( document ).ready(function( $ ) {
	   $("#eventCaro").swiperight(function() {  
	      $("#eventCaro").carousel('prev');  
	    });  
	   $("#eventCaro").swipeleft(function() {  
	      $("#eventCaro").carousel('next');  
	   });  
});  
</script>  
