<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-calendar/css/calendar.css">
<div class="container">
    <div id="calendar"></div>
</div>
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script type="text/javascript" src="public/bower_components/underscore"></script>
<script type="text/javascript" src="bower_components/bootstrap-calendar/js/calendar.js"></script>
<script type="text/javascript">
    var calendar = $("#calendar").calendar(
        {
            tmpl_path: "bower_components/bootstrap-calendar/tmpls/",
            events_source: function () { return []; }
        });         
</script>
