<div class="map-container">
	<div ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" id="eventmap"></div>
    <div class="map-filter ">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">filter <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li><a><i class="fa fa-plus fa-all circle"></i>All</a></li>
				<li><a><i class="fa fa-info fa-all circle"></i> info</a></li>
			    <li><a><i class="fa fa-building fa-all circle"></i> Amenities</a></li>
			    <li><a><i class="fa fa-university fa-all circle"></i> ATM</a></li>
			    <li><a><i class="fa fa-glass fa-all circle"></i> Beverage</a></li>
			    <li><a><i class="fa fa-cutlery fa-all circle"></i> Food</a></li>
			    <li><a><i class="fa fa-restroom fa-all circle"><i class="fa fa-male"></i><i class="fa fa-female"></i></i> Restroom</a></li>
			    <li><a><i class="fa fa-headphones fa-all circle"></i> Audio Tour</a></li>
			</ul>
		</div>
	</div>
</div>