<div ng-controller="EventListController">
	<div class="container"><div class="row">	<!--header for events-->
		<div class="mybar" ng-show="headerview">
	        <div class="input-group">
    	        <div class="input-group-btn">
    	        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    	        	<ul class="dropdown-menu" role="menu">
					    <li><a >Restroom</a></li>
					    <li><a >Water Fountain</a></li>
					    <li><a >Food</a></li>
					    <li><a >Beverage</a></li>
					</ul>
    	        </div>
    	        <form role="search" method="get" name="search-form">
    	        	<input type="text" class="form-control custom-control" placeholder="Search" id="query" name="query" value="">
    	        </form>
 		        <div class="input-group-btn">
	       			<a class="btn btn-default btn-custom"><span class="glyphicon glyphicon-search"></span></a>
	       			<a ui-sref="events.calendar" class="btn btn-default btn-custom"><span class="glyphicon glyphicon-calendar"></span></a>
	       			<a ui-sref="events.map" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"> MAP</span></a>
	       			<a ui-sref="events.list" type="button" class="btn btn-default btn-custom"><span class="glyphicon glyphicon-th"> GRID</span></a>
           		</div>
	        </div><!--end of input group-->
	 
	        <form role="search" method= "get" name="search-form" ng-hide="mybutton">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
					<span class="input-group-btn">
						<button type="reset" class="btn btn-default" ng-click="mybutton=true">
							<span class="glyphicon glyphicon-remove">
								<span class="sr-only">Close</span>
							</span>
						</button>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search">
								<span class="sr-only">Search</span>
							</span>
						</button>
					</span>
				</div>
			</form>
		</div>
	</div></div><!--end of row and container-->
	<div ui-view></div>
</div>