<div ng-controller="EventListController">
	<div class="container"><div class="row">	<!--header for events-->
		<div class="mybar">
			<form class= role="search" method="get" name="search-form">
		        <div class="input-group">
	    	        <div class="input-group-btn">
	    	        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span></button>
	    	        	<ul class="dropdown-menu" role="menu">
						    <li><a >Restroom</a></li>
						    <li><a >Water Fountain</a></li>
						    <li><a >Food</a></li>
						    <li><a >Beverage</a></li>
						</ul>
	    	        </div>        
		            <input type="text" class="form-control" placeholder="Search" id="query" name="query" value="">
		            <div class="input-group-btn">
	           			 <a class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
	           			 <a ui-sref="events.calendar" class="btn btn-default"><span class="glyphicon glyphicon-calendar"></span></a>
	           			 <a ui-sref="events.map" class="btn btn-default"><span class="glyphicon glyphicon-map-marker"> MAP</span></a>
	           			 <a ui-sref="events.list" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"> GRID</span></a>
	           		</div>
		        </div>
	        </form>
		</div>
	</div></div><!--end of row and container-->
	<div ui-view></div>
</div>