<div id="listEvents">
	<div class="info-banner textLeft">
		<h3>UPCOMING EVENTS</h3>
	</div>
	<section class="listCol" ng-repeat="event in eventList">
		<div class="leftpanel img-detail">
			<img alt="{{event.name}}" ng-src="{{event.coverPhoto.url}}" class="img-responsive">
		</div>
		<div class="rightpanel">
			<h5><b>{{event.name}}</b></h5>
			<p>{{event.startDateTime | date:'EEE, MMM dd'}} - {{event.endDateTime| date:'EEE, MMM dd'}}<br/>
			{{event.startDateTime | date:'h:mma'}} - {{event.endDateTime |date:'h:mma'}} | {{event.location}}</p>
		</div>
		<div class="clear"></div>
	</section><br/>
</div>