<div id="listEvents">
	<div class="info-banner textLeft">
		<h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			Upcoming Events
		</h3>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
	        <form class="navbar-form" role="search">
		        <div class="input-group">
		            <input type="text" class="form-control" placeholder="Search" ng-model="searchTerm" ng-class="{hidden:!isSearchVisible}">
		            <div class="input-group-btn">
		                <button class="btn btn-default fr" type="submit" ng-click="toggleOrQuery(isSearchVisible, searchTerm)">
		                	<i class="glyphicon glyphicon-search"></i>
	                	</button>
		            </div>
		        </div>
	        </form>
        </div>
	</div>
	<section class="listCol" ng-repeat="event in eventList">
		<div class="leftpanel img-detail">
			<a ui-sref="events.detail({slug: event.slug})"><img alt="{{event.name}}" ng-src="{{event.coverPhoto.url}}" class="img-responsive"></a>
		</div>
		<div class="rightpanel">
			<h5><b>{{event.name}}</b></h5>
			<p>{{event.startDateTime | date:'EEE, MMM dd'}} - {{event.endDateTime| date:'EEE, MMM dd'}}<br/>
			{{event.startDateTime | date:'h:mma'}} - {{event.endDateTime |date:'h:mma'}} | {{event.location}}</p>
		</div>
		<div class="clear"></div>
	</section><br/>
</div>