<div ng-controller="EventListController">
	<div class="map-container">
		<div ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" id="map"></div>
		<div class="map-ui">
			<ul class="nav-login">
				<li><a><span class="glyphicon glyphicon-info-sign"></span></a></li>
				<li><a><span class="glyphicon glyphicon-plane"></span></a></li>
				<li><a><span class="glyphicon glyphicon-map-maker"></span></a></li>
				<li><a><span class="glyphicon glyphicon-music"></span></a></li>
				<li><a><span class="glyphicon glyphicon-calendar"></span></a></li>
				<li><a ng-show="uiup" ng-click="uiup=false"><span class="glyphicon glyphicon-chevron-up"></span></a></li>
				<li><a ng-hide="uiup" ng-click="uiup=true"><span class="glyphicon glyphicon-chevron-down"></span></a></li>
			</ul>
		</div>
	</div>
</div>