<div class="map-container">
    <div id="eventmap" ui-map="myMap" ui-options="mapOptions" ui-event="mapEvents" class="eventmap"></div>
    <div class="map-filter">
		<div class="input-group-btn">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">filter <span class="caret"></span></button>
			<ul class="dropdown-menu" role="menu">
				<li ng-click="toggleFilters('all')"><a><i class="fa fa-plus fa-all circle"></i>All</a></li>
				<li ng-click="toggleFilters('info')"><a><i class="fa fa-info fa-all circle"></i> info</a></li>
			    <li ng-click="toggleFilters('food, drink')"><a><i class="fa fa-building fa-all circle"></i> Food and Drink</a></li>
			    <li ng-click="toggleFilters('activites')"><a><i class="fa fa-university fa-all circle"></i> Activities</a></li>
			    <li ng-click="toggleFilters('venus')"><a><i class="fa fa-glass fa-all circle"></i> Venus</a></li>
			    <li ng-click="toggleFilters('facilities')"><a><i class="fa fa-cutlery fa-all circle"></i> Facilities</a></li>
			    <li ng-click="toggleFilters('tours')"><a><i class="fa fa-headphones fa-all circle"></i> History</a></li>
			    <li ng-click="toggleFilters('events')"><a><i class="fa fa-headphones fa-all circle"></i> Events</a></li>
			</ul>
		</div>
	</div>
</div>
