<div ng-controller="EventDetailController">
    <div class="img-detail">
        <img alt="{{event.name}}" ng-src="{{event.coverPhoto.url}}" class="img-responsive"/>
    </div>
    <h4 class="lead"><b>{{event.name}}<b></h4>
    <!-- Bug: only work on a page refresh. @_@
    <to-calendar cal="event" title="'damn you!!!'"></to-calendar>
    -->
    
    <p class="lead">{{event.startDateTime | date:'EEEE, MMM dd'}} - {{event.endDateTime| date:'EEEE, MMM dd'}}<br/>
    {{event.startDateTime | date:'h:mma'}} - {{event.endDateTime |date:'h:mma'}} | {{event.location}}</p>
    <hr class="hrstyle"/>
    <p class="lead text-indent" ng-bind-html="event.description | trustedHtml"></p>
</div><br/>

